body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.flex-center {
  display: flex;
  align-items: center;
}

.block {
  display: block;
}

.nav-items>.nav-item {
  margin: 0 0.5rem;
}

.nav-items>a.nav-item {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 500;
  color: #9e9e9e;
}

.nav-items>a.nav-item:hover {
  opacity: 0.75;
}

.nav-items>a.nav-item.active {
  color: #fff;
}

.nav-items>a.nav-item>i {
  padding-right: 0.5rem;
}

.name-title {
  padding: 0 0.5rem;
  font-size: 1.25rem;
  color: #fff;
}

.name-title>p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.log-action {
  margin-right: 1rem;
  display: flex;
}

.log-action>#user {
  padding-right: 1rem;
  color: white;
}

.log-action>#user>#username {
  padding-left: 0.5rem;
}

.log-action>#logout-btn,
.log-action>#user {
  cursor: pointer;
}

.log-action>#logout-btn:hover,
.log-action>#user:hover {
  opacity: 0.9;
}

.log-action i {
  font-size: 1.5rem;
  color: white;
}

.navbar {
  padding: 0.5rem;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #e0e0e0; */
  background-color: #333;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  padding: 1rem;
}

.invisible {
  /* visibility: hidden; */
  display: none !important;
}

/* loading spinner */
.loader-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-right: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* button styles */
.btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0069d9;
}