body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.flex-center {
  display: flex;
  align-items: center;
}

.block {
  display: block;
}

.nav-items > .nav-item {
  margin: 0 0.5rem;
}

.nav-items > a.nav-item {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 500;
  color: #9e9e9e;
}

.nav-items > a.nav-item:hover {
  opacity: 0.75;
}

.nav-items > a.nav-item.active {
  color: #fff;
}

.nav-items > a.nav-item > i {
  padding-right: 0.5rem;
}

.name-title {
  padding: 0 0.5rem;
  font-size: 1.25rem;
  color: #fff;
}

.name-title > p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.log-action {
  margin-right: 2rem;
}

.log-action > #logout-btn {
  cursor: pointer;
}

.log-action > #logout-btn:hover {
  opacity: 0.9;
}

.log-action  i {
  font-size: 1.5rem;
  color: white;
}

.navbar {
  padding: 0.5rem;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #e0e0e0; */
  background-color: #333;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  padding: 1rem;
}

.invisible {
  visibility: hidden;
}